@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #333244;
    color: #fff;
    transition: all 0.3s;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    /* position: relative; */
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 10px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: #888592;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover{
    color: #fafafa;
    text-decoration:none;
    /* padding: 10px;
    font-size: 1.1em;
    display: block; */
}

#sidebar ul li a#select{
    background-color: #292938;
    color: #fafafa;
}

#sidebar .logo{
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: #fafafa;
    border-radius: 50%;
    text-align: center;
}

#sidebar .logo img{
    padding-top: 20%;
    width: 120px;
    height: 120px;
    /* border-radius: 50%; */
}

.title{
    padding: 50px;
    text-align: center;
}

#result p{
    color: black;
}